@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');
*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    color: #ffffff;
}
main{
    background: #62CDFF ;

}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.938rem 5rem;
    transition: 0.5s ease;
    
}
header .logo{
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;

}
header .navbar{
    transition: 0.5s ease;
    z-index: 1;
}
header .navbar .nav-list{
    display: flex;
    gap:3rem ;
}
header .navbar .nav-list a{
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    letter-spacing: 2px;
}
header .navbar .nav-list a::before{
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}
header .navbar .nav-list a:hover:before{
    width: 100%;
}
.menu-btn{
    display: none;
}
.home{
    z-index: 888;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    
    flex-direction: column;
}
.home .content{
    color: white;
    transition: 0.5s ease;
}
section{
    padding: 10rem 5rem;
    transition: 0.5s ease;
}
.info-heading{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    gap: 0.875rem;
    
}
.info-heading div{
    color: #ffdb58;
    font-size: 1.375rem;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 5px;
}

.fa-star{
    font-size: 0.5rem;
    color: #ffdb58;

}
.main-heading{
    font-size: 10rem;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
    line-height: 0.8;
    margin: 1.5rem 0;
    transition: 0.3s ease-in-out;
    
}
.info-heading .icon{
    margin-right: 0.5rem;
    color: #ffdb58;
}
.main-btn{
    position: relative;
    font-size: 1.5rem;
    padding: 0.3rem 2.3rem;
    border: none;
    background-color: red;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 3px;
    cursor: pointer;
    
}
.main-btn::after{
    content: '';
    height: 80%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 10%;
    background-color: yellow;
    box-shadow: 2px 0px 5px black;
}
.main-btn::before{
    content: '';
    height: 80%;
    width: 5px;
    position: absolute;
    right: 0;
    top:10%;
    background-color: yellow;
    box-shadow: -2px 0px 5px black;
}
.home img{
    z-index: -888;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navbar{
    font-size: 1.3rem;
    margin-top: 10rem;
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: translateY(80px);
    transition: 0.5s ease;
}
.slider-navbar .slider-btn{
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    transition: 0.3s ease;
}
.slider-navbar .slider-btn.now-active{
 padding-bottom: 0.5rem;
 border-radius: 8px;
 border-bottom: 4px solid red;
}
.slider-navbar .slider-btn:hover{
    transform: scale(1.2);
}
.image-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.image-slide.now-active{

    clip-path: circle(150.0% at 0 50%);
    transition: 0.5s ease;
    transition-property: clip-path;
}
@media (max-width: 1040px){
    header{
        padding: 12px 30px;
    }
    section{
        padding: 100px  30px;
    }
    header .navbar{
        display: none;

    }
    header .navbar.active{
        
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(1,1,1,0.5);

    }
    header .navbar .nav-list a{
        color: #222;
        font-size: 1.2rem;
        margin: 20px;
        
    }

    header .navbar.active .nav-list{
        background: #fff;
        gap: 1rem;
        width: 450px;
        max-width: 450px;
        margin:  20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

    }
    header .navbar .nav-list a::before{
        background-color: #222;
        height: 5px;
    }
    .menu-btn {
        z-index: 10;
        width: 80px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        cursor: pointer;
        transform: scale(0.5);
      }
      .menu-btn div {
        height: 8px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        transition: background-color 0.2 ease-in-out;
        transition: all 0.5s;
      }
      
      .menu-btn.active div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
      }
      
      .menu-btn.active div:nth-child(1) {
        animation: bar1Ani 0.5s ease-in-out forwards;
      }
      .menu-btn.active div:nth-child(3) {
        animation: bar3Ani 0.5s ease-in-out forwards;
      }
      @keyframes bar1Ani {
        50% {
          transform: translateY(22px);
        }
        100% {
          transform: translateY(22px) rotatez(45deg);
        }
      }
      @keyframes bar3Ani {
        50% {
          transform: translateY(-22px);
        }
        100% {
          transform: translateY(-22px) rotatez(135deg);
        }
      }
      .menu-btn div:nth-child(1) {
        animation: bar1RevAni 0.5s ease-in-out;
      }
      @keyframes bar1RevAni {
        0% {
          transform: translateY(22px) rotate(45deg);
        }
        50% {
          transform: translateY(22px) rotate(0deg);
        }
        100% {
          transform: translateY(0) rotatez(0deg);
        }
      }
      
      .menu-btn div:nth-child(3) {
        animation: bar3RevAni 0.3s ease-in-out;
      }
      @keyframes bar3RevAni {
        0% {
          transform: translateY(-22px) rotate(135deg);
        }
        50% {
          transform: translateY(-22px) rotate(0deg);
        }
        100% {
          transform: translateY(0);
        }
      }
      
}
@media (max-width: 800px){
    .main-heading{
        font-size: 7rem;
    }
}
@media (max-width: 500px){
    .home .content{
        transform: scale(0.8);
        position: relative;
        left: -3rem;
        top: -2rem;
    }
    .menu-btn{
        transform: scale(0.4);
        position: relative;
        left: 20px;
    }
    .slider-navbar{
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }
}